<!--
 ACreator-ng

 Copyright 2018 Christopher Gundlach
-->

<mat-form-field>
  <mat-select placeholder="Wähle eine Rasse aus" (selectionChange)="setRace($event.value)" [(value)]="selectedRaceName">
    <mat-option *ngFor="let raceName of (raceList$|async)" [value]="raceName">
      {{ raceName }}
    </mat-option>
  </mat-select>
</mat-form-field>
<app-racedetails [race]="(selectedRace$|async)"></app-racedetails>
