<!--
 ACreator-ng

 Copyright 2018 Christopher Gundlach
-->

<form [formGroup]="nameForm">
  <button mat-raised-button *ngIf="(heroList$|async).length===0" (click)="createNewHero()">Neuen Helden erstellen</button>
  <mat-form-field *ngIf="!editMode && (heroList$|async).length!==0">
    <mat-select placeholder="Wähle einen Helden" (selectionChange)="setHero($event.value)" [(value)]="curHeroName">
      <mat-option *ngFor="let heroName of (heroList$| async)" value="{{heroName}}">
        {{ heroName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="editMode">
    <input matInput placeholder="Name des Helden" value="{{curHeroName}}" [formControl]="!!nameForm.controls.newName" required>
  </mat-form-field>
  <span class="heroEditbuttons" *ngIf="(curHero$|async)">
    <button mat-icon-button (click)="toggleEditMode()" type='button'>
      <mat-icon class="fa fa-pencil" aria-hidden="true" *ngIf="!editMode"></mat-icon>
      <mat-icon class="fa fa-check" aria-hidden="true" *ngIf="editMode"></mat-icon>
    </button>
    <button mat-icon-button (click)="removeHero(curHeroName)" type='button'>
      <mat-icon class="fa fa-trash" aria-hidden="true"></mat-icon>
    </button>
    <button mat-icon-button (click)="createNewHero()" type='button'>
      <mat-icon class="fa fa-plus" aria-hidden="true"></mat-icon>
    </button>
  </span>
</form>
<mat-tab-group *ngIf="(curHero$|async);else groupDisabled">
  <mat-tab label="Rasse">
    <app-race></app-race>
  </mat-tab>
  <mat-tab label="Eigenschaften" [disabled]="!hasRace">
    <app-attributes></app-attributes>
  </mat-tab>
  <mat-tab label="Fertigkeiten" [disabled]="!hasRace">
    <app-skills></app-skills>
  </mat-tab>
  <mat-tab label="Vorzüge & Schwächen" [disabled]="!hasRace">
    <app-qualities></app-qualities>
  </mat-tab>
  <mat-tab label="Zusatzpunkte" [disabled]="!hasRace">
    <app-extrapoints></app-extrapoints>
  </mat-tab>
  <mat-tab label="Ausrüstung">
    <app-equip></app-equip>
  </mat-tab>
  <mat-tab label="Werte" [disabled]="!hasRace">
    <app-stats></app-stats>
  </mat-tab>
</mat-tab-group>
<ng-template #groupDisabled>
  <mat-tab-group>
    <mat-tab label="Rasse" disabled>
    </mat-tab>
    <mat-tab label="Eigenschaften" disabled>
    </mat-tab>
    <mat-tab label="Fertigkeiten" disabled>
    </mat-tab>
    <mat-tab label="Vorzüge & Schwächen" disabled>
    </mat-tab>
    <mat-tab label="Zusatzpunkte" disabled>
    </mat-tab>
    <mat-tab label="Ausrüstung" disabled>
    </mat-tab>
    <mat-tab label="Werte" disabled>
    </mat-tab>
  </mat-tab-group>
</ng-template>
