<!--
 ACreator-ng

 Copyright 2018 Christopher Gundlach
-->

<div *ngIf="race">
  <mat-list>
    <h3 matSubheader>Name: {{ race.name }}</h3>
    <mat-list-item>Größenklasse: {{ race.size }}</mat-list-item>
    <h3 matSubheader>Bewegungsgeschwindigkeiten:</h3>
    <mat-list-item>Kampf: {{ race.moveSpeed.combat }}</mat-list-item>
    <mat-list-item>Marsch: {{ race.moveSpeed.march }}</mat-list-item>
    <mat-list-item>Sprint: {{ race.moveSpeed.sprint }}</mat-list-item>
    <mat-list-item>Schwimmen: {{ race.moveSpeed.swim }}</mat-list-item>
  </mat-list>
  <mat-list *ngIf=race.moveSpeedAir>
    <h3 matSubheader>Bewegungsgeschwindigkeiten Fliegend:</h3>
    <mat-list-item>Kampf: {{ race.moveSpeedAir.combat }}</mat-list-item>
    <mat-list-item>Marsch: {{ race.moveSpeedAir.march }}</mat-list-item>
    <mat-list-item>Sprint: {{ race.moveSpeedAir.sprint }}</mat-list-item>
    <mat-list-item>Schwimmen: {{ race.moveSpeedAir.swim }}</mat-list-item>
  </mat-list>
  <mat-list>
    <h3 matSubheader>Fähigkeitenboni und Besonderheiten:</h3>
    <mat-list-item *ngFor="let bonus of race.skillBoni">
      {{ bonus.name }}: {{ bonus.bonus }}
    </mat-list-item>
    <mat-list-item *ngFor="let special of race.special">
      {{ special }}
    </mat-list-item>
  </mat-list>
  <mat-list>
    <h3 matSubheader>Eigenschaften:</h3>
    <mat-list-item *ngFor="let attribute of race.attributes">
      {{ attribute.name }}: Min: {{ attribute.min }} Max: {{ attribute.max }} Durschnitt: {{ attribute.average }}
    </mat-list-item>
  </mat-list>
</div>
