<!--
 ACreator-ng

 Copyright 2018 Christopher Gundlach
-->

<div class="notes-wrapper">
  <div *ngIf="editMode; else notesLabel">
    <mat-form-field class="notes-form-field">
      <input matInput placeholder="Notiz eingeben" [(ngModel)]="notes">
    </mat-form-field>
    <button mat-icon-button matSufix (click)="setNotes()" type='button' tabindex="-1">
      <mat-icon class="fa fa-check"></mat-icon>
    </button>
  </div>
  <ng-template #notesLabel>
    <div class="notes-label">{{notes}}</div>
    <button mat-icon-button (click)="editNotes()" type='button' tabindex="-1">
      <mat-icon class="fa fa-pencil"></mat-icon>
    </button>
  </ng-template>
</div>
