<!--
 ACreator-ng

 Copyright 2018 Christopher Gundlach
-->

<div class="add-skill">
  <mat-form-field>
    <mat-select placeholder="Fertigkeit auswählen" [(value)]="selectedSkill" (selectionChange)="selectedSkill=$event.value">
      <mat-option *ngFor="let skill of skillList" [value]="skill.name">
        {{skill.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button class="add-skill-button" (click)="addSkill()">Fertigkeit hinzufügen</button>
</div>
<mat-table #skillsTable [dataSource]="skills">
  <ng-container matColumnDef="skillRemove">
    <mat-header-cell class="remove-cell" *matHeaderCellDef> </mat-header-cell>
    <mat-cell class="remove-cell" *matCellDef="let skill">
      <button mat-icon-button (click)="removeSkill(skill.name)" type='button' tabindex="-1">
        <mat-icon class="fa fa-trash" aria-hidden="false" aria-label="remove Skill"></mat-icon>
      </button>
      <!-- <button mat-raised-button (click)="removeSkill(skill.name)">remove Skill</button> -->
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="skillName">
    <mat-header-cell class="name-cell" *matHeaderCellDef> Skill </mat-header-cell>
    <mat-cell class="name-cell" *matCellDef="let skill">{{skill.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="skillRank">
    <mat-header-cell class="rank-cell" *matHeaderCellDef> Rang </mat-header-cell>
    <mat-cell class="rank-cell" *matCellDef="let skill">
      <button mat-icon-button (click)="decSkill(skill.name)" type='button' tabindex="-1" [disabled]="skill.rank <= 0">
        <mat-icon class="fa fa-caret-down" aria-hidden="true"></mat-icon>
      </button>{{skill.rank}}
      <button mat-icon-button (click)="incSkill(skill.name)" type='button' tabindex="-1" [disabled]="skill.rank >=10">
        <mat-icon class="fa fa-caret-up" aria-hidden="true"></mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="skillAttribute">
    <mat-header-cell class="attribute-cell" *matHeaderCellDef> Attribut </mat-header-cell>
    <mat-cell class="attribute-cell" *matCellDef="let skill">{{skill.attribute}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="skillValue">
    <mat-header-cell class="value-cell" *matHeaderCellDef> Wert </mat-header-cell>
    <mat-cell class="value-cell" *matCellDef="let skill">{{+getSkillValue(skill.rank, skill.attribute)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="skillNotes">
    <mat-header-cell class="notes-cell" *matHeaderCellDef> Notizen </mat-header-cell>
    <mat-cell class="notes-cell" *matCellDef="let skill">
      <app-notes [name]="skill.name" [notes]="skill.notes"></app-notes>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</mat-table>
