<div class="content">
  <mat-sidenav-container>
    <mat-sidenav-content>
      <h1>{{ title }}</h1>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
