<!--
 ACreator-ng

 Copyright 2018 Christopher Gundlach
-->

<span class="attribute">
  {{ attribute.name }}:
  <button mat-icon-button (click)="decrementAttribute()" type='button' [disabled]="attribute.value <= raceConstraints.min"
    tabindex="-1">
    <mat-icon class="fa fa-caret-down" aria-hidden="true"></mat-icon>
  </button>

  <!-- <mat-form-field class='attributeFormField'> -->
  <!-- <input matInput readonly="true" [value]="attribute.value" #attributeValue class="attributeValue" (keyup)="setAttributeValue(attributeValue.value)"> -->
  <!-- </mat-form-field> -->

  <label>{{ attribute.value }}</label>
  <button mat-icon-button (click)="incrementAttribute()" type='button' [disabled]="attribute.value >= raceConstraints.max"
    tabindex="-1">
    <mat-icon class="fa fa-caret-up" aria-hidden="true"></mat-icon>
  </button>
  Bonus: {{ attribute.bonus }}
</span>
